<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .avatar {
            width: 120px;
        }

        .mAvatar {
            width: 50px;
        }

        .box {
            margin-top: 50px;
        }

        .username {
            display: inline-block;
            vertical-align: middle;
        }

        .date {
            color: #999;
        }

        .content-wrapper {
            /* margin-left: 50px; */
            margin-top: 20px;
        }
        .messageRow {
            margin-top: 20px;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <% include header.ejs %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <% if(login) { %>
        <div class="container">
            <div class="row box">
                <div class="col-lg-2 col-sm-2">
                    <img class="avatar" src="<%= avatar %>" alt="">
                </div>
                <div class="col-lg-3 col-sm-3">
                    <p class="username">
                        <%= username %>
                    </p>
                    <textarea name="message" id="message" cols="60" rows="3"></textarea>
                    <button type="button" id="post" class="btn btn-primary">发表说说</button>
                    <div class="alert alert-warning" style="display: none;" id="errAlert" role="alert"></div>
                </div>
                <!-- <h1 class="username">
                    <%= username %>
                </h1> -->

            </div>

            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
        <% }else{ %>
        <div class="container">
            <div class="box">
                <h1>
                    欢迎！
                </h1>
            </div>

            <p>班级说说使我们交流的园地，欢迎注册！</p>
            <p><a class="btn btn-primary btn-lg" href="/register" role="button">注册</a></p>
        </div>
        <% } %>

    </div>
        <div class="container">
            <div class="row" id="messageRow">

            </div>
        </div> <!-- /container -->
    
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore-noflect.js"></script>
    <script type="text/template" id="model">
                <div class="col-md-4  messageRow">
                    <div class="row">
                        <img src="{{= avatar }}" class="mAvatar" alt="">
                        <p style="display: inline-block;">
                            {{= username }}
                        </p>
                        <div class="content-wrapper">
                            <p>
                                {{= content }}
                            </p>
                            <p class="date">
                                {{= datetime }}
                            </p>
                        </div>
                    </div>
                </div>
    </script>
    <script>
        //得到模板函数
        var compiled = _.template($("#model").html());

        $.get('/getAllMessage', {}, function (result) {
            result.data.forEach((item, i) => {
                //组装模板
                var htmlstring = compiled(item);
                //添加DOM
                $("#messageRow").append($(htmlstring));
            });
        })

        $('#post').on('click', function () {
            $.post('/dopost', {
                message: $('#message').val()
            }, function (result) {
                if (result == -3) {
                    $('#errAlert').fadeIn();
                    $('#errAlert').html('服务器错误');
                    return;
                }
                var str =
                    `<div class="col-md-4 messageRow">
                                <div class="row">
                                    <img src="${result.avatar}" class="mAvatar" alt="">
                                     <p style="display: inline-block;">
                                        ${result.username}
                                    </p>
                                    <div class="content-wrapper">
                                        <p>
                                            ${result.content}
                                        </p>
                                        <p class="date">
                                            ${result.datetime}
                                        </p>
                                    </div
                                </div>
                            </div>`;
                $('#messageRow').append(str);
            })
        })
    </script>
</body>

</html>